<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="build.properties" />

    <!-- Emit application logs as ECS JSON directly to the container stdout. -->
    <!--
    <appender name="CONTAINER_STDOUT" class="ch.qos.logback.core.FileAppender">
        <file>/proc/1/fd/1</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${SERVICE_NAME:-pagopa-gpd-upload-function}</serviceName>
            <serviceVersion>${version:-unknown}</serviceVersion>
            <serviceEnvironment>${ENV:-unknown}</serviceEnvironment>
        </encoder>
    </appender>
    -->
    <appender name="CONTAINER_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="co.elastic.logging.logback.EcsEncoder">
        <serviceName>${SERVICE_NAME:-pagopa-gpd-upload-function}</serviceName>
        <serviceVersion>${version:-unknown}</serviceVersion>
        <serviceEnvironment>${ENV:-unknown}</serviceEnvironment>
      </encoder>
    </appender>

    <!-- Reduce noisy logs from test and infrastructure libraries. -->
    <logger name="org.testcontainers" level="WARN"/>
    <logger name="tc" level="WARN"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="com.azure" level="WARN"/>
    <logger name="com.microsoft.azure" level="WARN"/>

    <!-- Use the configured application log level, defaulting to INFO. -->
    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="CONTAINER_STDOUT" />
    </root>

</configuration>